<%- include ('headerPartial') %> 

    <!-- content section starts     -->

    <div class="container">
      <h3 class="title">Lose Weight</h3>
      <div class="intro-part">
        <h3>
          It’s estimated that half of all adults attempt to lose weight every
          year (1Trusted Source). <br /><br />Aside from dieting, exercising is
          one of the most common strategies employed by those trying to shed
          extra pounds. It burns calories, and this plays a key role in weight
          loss. In addition to helping you lose weight, exercise has been linked
          to many other benefits, including improved mood, stronger bones, and a
          reduced risk of many chronic diseases (2Trusted Source, 3Trusted
          Source, 4Trusted Source). Here are the 8 best exercises for weight
          loss.
        </h3>
        <img src="/images/fat-intro.jpg" alt="" />
      </div>
      <div class="box">
        <div class="content">
          <h3 class="title">1.walking</h3>
          <h3>
            Walking is one of the best exercises for weight loss — and for good
            reason. It’s convenient and an easy way for beginners to start
            exercising without feeling overwhelmed or needing to purchase
            equipment. Also, it’s a lower-impact exercise, meaning it doesn’t
            stress your joints. According to Harvard Health, it’s estimated that
            a 155-pound (70-kg) person burns around 167 calories per 30 minutes
            of walking at a moderate pace of 4 mph (6.4 km/h) (5). A 12-week
            study in 20 women with obesity found that walking for 50–70 minutes
            3 times per week reduced body fat and waist circumference by an
            average of 1.5% and 1.1 inches (2.8 cm), respectively (6Trusted
            Source). It’s easy to fit walking into your daily routine. To add
            more steps to your day, try walking during your lunch break, taking
            the stairs at work, or taking your dog for extra walks. To get
            started, aim to walk for 30 minutes 3–4 times a week. You can
            gradually increase the duration or frequency of your walks as you
            become more fit.
          </h3>
          <img src="/images/fat/walking.jpg" alt="" />
        </div>
      </div>

      <div class="box">
        <div class="content">
          <h3 class="title">2. Jogging or running</h3>
          <h3>
            Jogging and running are great exercises to help you lose weight.
            Although they seem similar, the key difference is that a jogging
            pace is generally between 4–6 mph (6.4–9.7 km/h), while a running
            pace is faster than 6 mph (9.7 km/h). Harvard Health estimates that
            a 155-pound (70-kg) person burns approximately 298 calories per 30
            minutes of jogging at a 5-mph (8-km/h) pace, or 372 calories per 30
            minutes of running at a 6-mph (9.7-km/h) pace (5). What’s more,
            studies have found that jogging and running can help burn harmful
            visceral fat, commonly known as belly fat. This type of fat wraps
            around your internal organs and has been linked to various chronic
            diseases like heart disease and diabetes (7Trusted Source, 8Trusted
            Source, 9Trusted Source). Both jogging and running are great
            exercises that can be done anywhere and are easy to incorporate into
            your weekly routine. To get started, aim to jog for 20–30 minutes
            3–4 times per week. If you find jogging or running outdoors to be
            hard on your joints, try running on softer surfaces like grass.
            Also, many treadmills have built-in cushioning, which may be easier
            on your joints.
          </h3>
          <img src="/images/fat/jogging.jpg" alt="" />
        </div>
      </div>

      <div class="box">
        <div class="content">
          <h3 class="title">3. Cycling</h3>
          <h3>
            Cycling is a popular exercise that improves your fitness and can
            help you lose weight. Although cycling is traditionally done
            outdoors, many gyms and fitness centers have stationary bikes that
            allow you to cycle while staying indoors. Harvard Health estimates
            that a 155-pound (70-kg) person burns around 260 calories per 30
            minutes of cycling on a stationary bike at a moderate pace, or 298
            calories per 30 minutes on a bicycle at a moderate pace of 12–13.9
            mph (19–22.4 km/h) (5). Not only is cycling great for weight loss,
            but studies have found that people who cycle regularly have better
            overall fitness, increased insulin sensitivity, and a lower risk of
            heart disease, cancer, and death, compared with those who don’t
            cycle regularly (10Trusted Source, 11Trusted Source). Cycling is
            great for people of all fitness levels, from beginners to athletes.
            Plus, it’s a non-weight-bearing and low-impact exercise, so it won’t
            place much stress on your joints.
          </h3>
          <img src="/images/fat/cycling.jpg" alt="" />
        </div>
      </div>

      <div class="box">
        <div class="content">
          <h3 class="title">4. Weight training</h3>
          <h3>
            Weight training is a popular choice for people looking to lose
            weight. According to Harvard Health, it’s estimated that a 155-pound
            (70-kg) person burns roughly 112 calories per 30 minutes of weight
            training (5). Also, weight training can help you build strength and
            promote muscle growth, which can raise your resting metabolic rate
            (RMR), or how many calories your body burns at rest (12Trusted
            Source). One 6-month study showed that simply doing 11 minutes of
            strength-based exercises 3 times per week resulted in a 7.4%
            increase in metabolic rate, on average. In this study, that increase
            was equivalent to burning an additional 125 calories per day
            (13Trusted Source). Another study found that 24 weeks of weight
            training led to a 9% increase in metabolic rate among men, which
            equated to burning approximately 140 more calories per day. Among
            women, the increase in metabolic rate was nearly 4%, or 50 more
            calories per day (14Trusted Source). In addition, numerous studies
            have shown that your body continues to burn calories many hours
            after a weight-training workout, compared with aerobic exercise
            (15Trusted Source, 16Trusted Source, 17Trusted Source).
          </h3>
          <img src="/images/fat/weightTraining.jpg" alt="" />
        </div>
      </div>

      <div class="box">
        <div class="content">
          <h3 class="title">5. Interval training</h3>
          <h3>
            Interval training, more commonly known as high-intensity interval
            training (HIIT), is a broad term that refers to short bursts of
            intense exercise that alternate with recovery periods. Typically, a
            HIIT workout lasts 10–30 minutes and can burn a lot of calories. One
            study in 9 active men found that HIIT burned 25–30% more calories
            per minute than other types of exercises, including weight training,
            cycling, and running on a treadmill (18Trusted Source). That means
            HIIT can help you burn more calories while spending less time
            exercising. Furthermore, numerous studies have shown that HIIT is
            especially effective at burning belly fat, which is linked to many
            chronic diseases (19Trusted Source, 20Trusted Source, 21Trusted
            Source). HIIT is easy to incorporate into your exercise routine. All
            you need to do is choose a type of exercise, such as running,
            jumping, or biking, and your exercise and rest times. For example,
            pedal as hard as you can on a bike for 30 seconds followed by
            pedaling at a slow pace for 1–2 minutes. Repeat this pattern for
            10–30 minutes.
          </h3>
          <img src="/images/fat/intervalTraining.jpg" alt="" />
        </div>
      </div>

      <div class="box">
        <div class="content">
          <h3 class="title">6. Swimming</h3>
          <h3>
            Swimming is a fun way to lose weight and get in shape. Harvard
            Health estimates that a 155-pound (70-kg) person burns approximately
            233 calories per half hour of swimming. How you swim appears to
            affect how many calories you burn. Per 30 minutes, a 155-pound
            (70-kg) person burns 298 calories doing backstroke, 372 calories
            doing breaststroke, 409 calories doing butterfly, and 372 calories
            treading water (5). One 12-week study in 24 middle-aged women found
            that swimming for 60 minutes 3 times per week significantly reduced
            body fat, improved flexibility, and reduced several heart disease
            risk factors, including high total cholesterol and blood
            triglycerides (22Trusted Source). Another advantage of swimming is
            its low-impact nature, meaning that it’s easier on your joints. This
            makes it a great option for people who have injuries or joint pain.
          </h3>
          <img src="/images/fat/swimming.jpg" alt="" />
        </div>
      </div>

      <div class="box">
        <div class="content">
          <h3 class="title">7. Yoga</h3>
          <h3>
            Yoga is a popular way to exercise and relieve stress. While it’s not
            commonly thought of as a weight loss exercise, it burns a fair
            amount of calories and offers many additional health benefits that
            can promote weight loss. Harvard Health estimates that a 155-pound
            (70-kg) person burns around 149 calories per 30 minutes of
            practicing yoga (5). A 12-week study in 60 women with obesity found
            that those who participated in two 90-minute yoga sessions per week
            experienced greater reductions in waist circumference than those in
            the control group — by 1.5 inches (3.8 cm), on average(23Trusted
            Source). Additionally, the yoga group experienced improvements in
            mental and physical well-being (23Trusted Source). Aside from
            burning calories, studies have shown that yoga can teach
            mindfulness, which can help you resist unhealthy foods, control
            overeating, and better understand your body’s hunger signals
            (24Trusted Source, 25Trusted Source). Most gyms offer yoga classes,
            but you can practice yoga anywhere. This includes from the comfort
            of your own home, as there are plenty of guided tutorials online.
          </h3>
          <img src="/images/fat/yoga.jpg" alt="" />
        </div>
      </div>
      <div class="box">
        <div class="content">
          <h3 class="title">8. Pilates</h3>
          <h3>
            Pilates is a great beginner-friendly exercise that may help you lose
            weight. According to a study sponsored by the American Council on
            Exercise, a person weighing around 140 pounds (64 kg) would burn 108
            calories at a 30-minute beginner’s Pilates class, or 168 calories at
            an advanced class of the same duration (26). Although Pilates may
            not burn as many calories as aerobic exercises like running, many
            people find it enjoyable, which makes it easier to stick to over
            time (27Trusted Source). An 8-week study in 37 middle-aged women
            found that performing Pilates exercises for 90 minutes 3 times per
            week significantly reduced waist, stomach, and hip circumference,
            compared with a control group that did no exercise over the same
            period (28Trusted Source). Other than weight loss, Pilates has been
            shown to reduce lower back pain and improve your strength, balance,
            flexibility, endurance, and overall fitness level (27Trusted Source,
            29Trusted Source, 30Trusted Source). If you’d like to give Pilates a
            go, try incorporating it into your weekly routine. You can do
            Pilates at home or one of the many gyms that offer Pilates classes.
            To further boost weight loss with Pilates, combine it with a healthy
            diet or other forms of exercise, such as weight training or cardio.
          </h3>
          <img src="/images/fat/pilates.jpg" alt="" />
        </div>
      </div>
    </div>

    <!-- content section ends  -->

    <!-- footer section starts  -->

    <%- include ('footerPartial') %> 
    
  </body>
</html>
