<!-- footer section starts  -->

<section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>quick links</h3>
        <a class="links" href="/#home">home</a>
        <a class="links" href="/#about">about</a>
        <a class="links" href="/#workout">workout</a>
        <a class="links" href="/#nutrition">nutrition</a>
        <a class="links" href="/#store">store</a>
      </div>

      <div class="box">
        <h3>contact</h3>
        <p><i class="fas fa-phone"></i> +962-788-718-099</p>
        <p><i class="fas fa-envelope"></i> MineFitness@gmail.com</p>
        <p><i class="fas fa-map"></i> zarqa, jordan</p>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-whatsapp"></a>
        </div>
      </div>

      <div class="box">
        <h3>crowd support</h3>
        <p>help us to improve our service</p>
        <form action="">
          <input
            type="email"
            name=""
            class="email"
            placeholder="Write your thoughts about us/ Problem"
            id=""
          />
          <input type="submit" value="Send" class="btn" />
        </form>
      </div>
    </div>
  </section>

  <div class="credit">
    created by <span>Abdulrahman Mohammad</span> | all rights reserved!
  </div>

  <!-- footer section ends -->

  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- google translate -->
  <!-- <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->

  <!-- custom js file link  -->
  <script src="../js/script.js" ></script>