<%- include ('headerPartial') %> 

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="swiper home-slider">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide slide"
            style="background: url(images/home-bg-1.jpg) no-repeat"
          >
            <div class="content">
              <span>be strong, be fit</span>
              <h3>Make yourself stronger than your excuses.</h3>
              <a href="#" class="btn">get started</a>
            </div>
          </div>

          <div
            class="swiper-slide slide"
            style="background: url(images/home-bg-2.jpg) no-repeat"
          >
            <div class="content">
              <span>be strong, be fit</span>
              <h3>Make yourself stronger than your excuses.</h3>
              <a href="#" class="btn">get started</a>
            </div>
          </div>

          <div
            class="swiper-slide slide"
            style="background: url(images/home-bg-3.jpg) no-repeat"
          >
            <div class="content">
              <span>be strong, be fit</span>
              <h3>Make yourself stronger than your excuses.</h3>
              <a href="#" class="btn">get started</a>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">
      <div class="image">
        <img src="images/about-img.jpg" alt="" />
      </div>

      <div class="content">
        <span>about us</span>
        <h3 class="title">what is MineFitness?</h3>
        <p>
          we present a website that offers many services related to everything
          about maintaining a fit and healthy body, including exercises, healthy
          nutrition, ways and guidelines to reach the ideal weight without the
          need of going to gym (At home). It will also provide products (sport
          equipment/ tools) that you can buy to make training and nutrition
          easier on you.
        </p>
        <div class="box-container">
          <div class="box">
            <h3><i class="fas fa-check"></i>body and mind</h3>
            <p>
              with the costomer, we are focusing on convincing the client that
              sport is not just a hobby, but it is a lifestyle. If customer
              reach this conviction, his life will change!
            </p>
          </div>
          <div class="box">
            <h3><i class="fas fa-check"></i>healthy life</h3>
            <p>
              after dealing with us, your mentality will be change and
              healthiness will become your lifestyle.
            </p>
          </div>
          <div class="box">
            <h3><i class="fas fa-check"></i>strategies</h3>
            <p>
              we will be with you step by step and show you small details before
              big ones, we won't leave you until you become a pro.
            </p>
          </div>
          <div class="box">
            <h3><i class="fas fa-check"></i>nutritions</h3>
            <p>
              your full guide of nutrition to be a proffessional and reach the
              best fit and healthy body.
            </p>
          </div>
        </div>
        <a href="#" class="btn">back to home</a>
      </div>
    </section>

    <!-- about section ends -->

    <!-- features section starts  -->

    <section class="features" id="workout">
      <h1 class="heading"><span>WORKOUT</span></h1>
      <div
        class="box"
        style="font-size: large; color: white; text-align: center"
      >
        <h3>
          Are you strugilling of being skinny and want to be in-shape for
          summer?<br />
          What about telling you that you can get in-shape within a few weeks
          and without leaving your house if you follow the instructions
          carefully. Come on, <span style="color: rgb(0, 0, 179);font-size: 2.4rem;">don't waste time!</span>
        </h3>
        <br /><br />
        <h3 style="font-size: xx-large; color: rgb(0, 0, 206)">Choose a workout type:</h3>
      </div>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/f-img-1.jpg" alt="" />
          </div>
          <div class="content">
            <h3>gain muscles</h3>
            <p>
              this workout type is recomended for people who have skinny body
              type.
            </p>
            <a href="/muscles" class="btn">Start</a>
          </div>
        </div>

        <div class="box second">
          <div class="hide">hello</div>
          <iframe
            frameborder="0"
            allowfullscreen
            webkitallowfullscreen="true"
            allow="autoplay; fullscreen; xr-spatial-tracking"
            xr-spatial-tracking
            execution-while-out-of-viewport
            execution-while-not-rendered
            web-share
            src="https://sketchfab.com/models/fab6629948994cedad4436e815b9e212/embed"
          >
          </iframe>
          <div class="hide">hello</div>
        </div>

        <div class="box">
          <div class="image">
            <img src="images/f-img-3.jpg" alt="" />
          </div>
          <div class="content">
            <h3>lose weights</h3>
            <p>
              This workout is recomended for people who have fats in thier <br>body.
            </p>
            <a href="/fat" class="btn">Start</a>
          </div>
        </div>
      </div>
    </section>

    <!-- features section ends -->


    <!-- Nutrition section starts  -->

    <section class="trainers" id="nutrition">
      <h1 class="heading"><span>NUTRITION</span></h1>

      <div class="box-container">
        <a href="/nutrition1"><div class="box">
            <img src="images/trainer-1.jpg" alt="" />
            <div class="content">
              <span>expert trainer</span>
              <h3>
                Calculate your daily needs of calories easily and have knowladge about calories.
              </h3>
              <div class="share">
                <span>Read more</span>
              </div>
            </div>
          </div></a>
        

          <a href="/nutrition2" class="box">
          <img src="images/trainer-2.jpg" alt="" />
          <div class="content">
            <span>expert trainer</span>
            <h3>
                Lets know more about different food type's calories, thats help you to control your diet.
            </h3>
            <div class="share">
              <span>Read more</span>
            </div>
          </div>
        </a>

        <div class="box">
          <img src="images/trainer-3.jpg" alt="" />
          <div class="content">
            <span>expert trainer</span>
            <h3>
                The complete guide to understanding everything related to
                Nutrition.
            </h3>
            <div class="share">
              <span>Read more (to be soon)...</span>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Nutrition section ends -->

    <!-- banner section starts  -->

    <section class="banner">
      <span>join us now</span>
      <h3>tell your friends!</h3>
      <p>
        If you want to switch acounts or logout your account, please press that button down there.
      </p>
      <a href="/join/login" class="btn">back to login</a>
    </section>

    <!-- banner section ends -->



    <!-- blogs section starts  -->

    <section class="blogs" id="store">
      <h1 class="heading"><span>STORE</span></h1>

          <!-- review section starts  -->

    <section class="review">
        <div class="information">
          <span>products</span>
          <h3>best price promise</h3>
          <p>
            check your cart for any old product you may want to buy before continue shopping.
          </p>
          <a href="./store/" class="btn">go to store</a>
        </div>
  
        <div class="swiper review-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide id">
              <p>
                MineFitness is committed to giving you the best prices . all of are products are usefull and essintial.
              </p>
              <div class="user">
                <img src="images/pic-1.png" alt="" />
                <div class="info">
                  <h3>Abdulrahman</h3>
                  <span>admin</span>
                </div>
                <i class="fas fa-quote-left"></i>
              </div>
            </div>
  
            <div class="swiper-slide slide id">
              <p>
                Save 50% while supplies last. Save some green for your summer routine! Stack up the savings.
              </p>
              <div class="user">
                <img src="images/pic-1.png" alt="" />
                <div class="info">
                  <h3>Abdulrahman</h3>
                  <span>fitness expert</span>
                </div>
                <i class="fas fa-quote-left"></i>
              </div>
            </div>
  
  
        </div>
      </section>
  
      <!-- review section ends -->

      <!-- STORE section STARTS -->

      <div class="swiper blogs-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <div class="image">
              <img src="../images/products/dumbells.jpg" alt="" />
            </div>
            <div class="content id">
              <div class="link">
                <a href="#">by BioTech USA</a> <span>|</span>
                <a href="#">21st may, 2022</a>
              </div>
              <h3>
                adjustable dumbbells 40KG &nbsp -
                <span style="color: blue">89.49$</span>
              </h3>
              <p>
                allows you to change how heavy the weight is using various
                mechanisms such as a lever, dial or pin. black color available.
              </p>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image">
              <img src="../images/products/protein.jpg" />
            </div>
            <div class="content id">
              <div class="link">
                <a href="#">by bioTechUSA</a> <span>|</span>
                <a href="#">21st may, 2022</a>
              </div>
              <h3>
                HyperMass Protien 6.9Kg (81 scope) &nbsp -
                <span style="color: blue">90.53$</span>
              </h3>
              <p>
                Strawberry and chocolate flavors. 80 servings, contain 31gram of
                protein per 1 serving, ideal use is 3 scopes per day.
              </p>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image">
              <img src="../images/products/creatine.jpg" />
            </div>
            <div class="content id">
              <div class="link">
                <a href="#">by MuscleTech</a> <span>|</span>
                <a href="#">21st may, 2022</a>
              </div>
              <h3>
                Creatine 400G-80 Servings &nbsp -
                <span style="color: blue">15.99$</span>
              </h3>
              <p>
                essentialSeries, the most selling supplement in the world,
                dietary supplement, have 300g with free 100g overall 400g.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- STORE section ends -->

    <!-- footer section starts  -->

    <%- include ('footerPartial') %> 

  </body>
</html>
