<%- include ('headerPartial') %>

    <!-- Anatomy section start     -->

    <div class="main-container">
      <br />
      <h3 class="title">gain muscles</h3>
      <h3>
        Choose muscle you want to workout from this body anatomy,
        <span>there is 12 different muscles!</span>
      </h3>
      <div class="anatomy-container">
        <div class="anatomy">
          <div class="front-anatomy">
            <div class="traps" id="3"></div>
            <div class="sholders" id="6"></div>
            <div class="biceps" id="3"></div>
            <div class="chest" id="5"></div>
            <div class="forearms" id="4"></div>
            <div class="sideabs" id="2"></div>
            <div class="abs" id="4"></div>
            <div class="legs" id="7"></div>
            <div class="claves" id="2"></div>
          </div>
          <div class="back-anatomy">
            <div class="sholders" id="6"></div>
            <div class="triceps" id="3"></div>
            <div class="forearms" id="4"></div>
            <div class="traps" id="3"></div>
            <div class="back" id="5"></div>
            <div class="glutes" id="3"></div>
            <div class="legs" id="7"></div>
            <div class="claves" id="2"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Anatomy section ends     -->

    <!-- workout section starts     -->

    <div class="workout-details">
      <h1 class="heading"><span>Muscle Name</span></h1>

      <div class="muscle-description" id="traps">
        <div class="muscle-name-and-description">
          <h3 class="title">trape Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The traps are a large muscle with three sections: upper, middle,
              and lower. The upper section is in the neck region, the middle and
              lower section are in the upper back. MineFitness has 3 exercises
              targeting the traps in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/traps.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="sholders">
        <div class="muscle-name-and-description">
          <h3 class="title">sholder Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The shoulder muscles are mostly made up of the deltoids which
              include three sections: anterior, medial/lateral, and
              posterior/rear. MineFitness has 6 exercises targeting the
              shoulders in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/sholders.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="biceps">
        <div class="muscle-name-and-description">
          <h3 class="title">bicep Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The biceps at the front of the upper arm are called the biceps
              brachii (which means two heads) so it includes the long head and
              short head. MineFitness has 3 exercises targeting the biceps in
              our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/biceps.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="chest">
        <div class="muscle-name-and-description">
          <h3 class="title">Chest Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The chest muscles include the pectoralis major (clavicular and
              sternal heads) and pectoralis minor which sits underneath pec
              major. Some also consider the serratus anterior a chest region
              muscle. MineFitness has 5 exercises targeting the chest in our
              database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/chest.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="forearms">
        <div class="muscle-name-and-description">
          <h3 class="title">forearm Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The forearm muscles can be bundled into two main groups: the wrist
              flexors are on the palm side of the forearm and the wrist
              extensors are on the opposite side of the forearm. MineFitness has
              4 exercises targeting the forearms in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/forearms.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="sideabs">
        <div class="muscle-name-and-description">
          <h3 class="title">side abs Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The side abdominals (on our left and right) include the external
              and internal obliques. MineFitness has 2 exercises targeting the
              side abs in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/sideabs.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="abs">
        <div class="muscle-name-and-description">
          <h3 class="title">abs Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              abs muscles (abnominal muscles) divided into three parts: upper abs, middle abs, lower abs. MineFitness has 4 exercises targeting the chest in our
              database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/abs.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="legs">
        <div class="muscle-name-and-description">
          <h3 class="title">leg Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The quadriceps (or quads) located at the front of the thigh
              include the vastus lateralis, vastus intermedius, vastus medialis,
              and rectus femoris. MineFitness has 7 exercises targeting the
              quads in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/legs.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="claves">
        <div class="muscle-name-and-description">
          <h3 class="title">calf muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The calves located at the back of the lower leg include the
              gastrocnemius (medial and lateral head) and the soleus. Home
              Workouts has 2 exercises targeting the calves in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/claves.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="back">
        <div class="muscle-name-and-description">
          <h3 class="title">back Muscles</h3>
          <div class="muscle-paragraph">
            <h3>
              The upper back muscles include the rhomboids (major and minor),
              trapezius (upper, middle, and lower), paraspinals, and erector
              spinae. MineFitness has 5 exercises targeting the upper back in
              our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/back.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="triceps">
        <div class="muscle-name-and-description">
          <h3 class="title">tricep Muscle</h3>
          <div class="muscle-paragraph">
            <h3>
              The triceps at the back of the upper arm are called the triceps
              brachii (which means three heads) so it includes the long head,
              lateral head, and medial had. MineFitness has 3 exercises
              targeting the triceps in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/triceps.png" alt="" />
        </div>
      </div>
      <div class="muscle-description" id="glutes">
        <div class="muscle-name-and-description">
          <h3 class="title">glute Muscle</h3>
          <div class="muscle-paragraph" id="">
            <h3>
              The three main glutes include the gluteus maximus, gluteus
              medialis, and gluteus minimus. There are also some smaller muscles
              amongst the glutes like the piriformis, quadratus femoris,
              gemellus (superior and inferior), and obturator externus. Home
              Workouts has 3 exercises targeting the glutes in our database.
            </h3>
          </div>
        </div>
        <div class="muscle-image">
          <img src="images/musclesImages/glutes.jpg" alt="" />
        </div>
      </div>

      <div class="workout-container">
        <!-- sample of the workout element -->

        <!-- <div class="workout">
          <div class="workout-description">
            <h1 class="title">Diamond Push Ups</h1>
          </div>
          <div class="gif">
            <img src="/images/workoutGIFs/chest/diamond-push-ups.gif" alt="" />
          </div>
        </div> -->
      </div>
    </div>

    <!-- workout section ends     -->

    <%- include ('footerPartial')  %> 

    <script type="module" src="/js/muscles.js"></script>
  </body>
</html>
